body {
    background-color: rgb(143, 209, 173);
}
button {
    position:relative ;
    left: 30%
}

header > h1 {
    background-color: rgb(255, 0, 212);
}

strong {
    position:relative ;
    top: 30%
}

button:hover{
    background-color: orange;
}